* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/background3.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin: 0;
}

.menu{
    background-color: #000;
    font-size: 1.4em;
    height: 50px;
    left: 0;
    padding-top: 5px;
    position: sticky;
    text-align: center;
    top: 0px;
    width: 100%;
}

.menu__item{
    color: gray;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

.home{
    margin-top: 10px;
    height: 90vh;
}

.home__title{
    color: hsl(0, 0%, 100%);
    font-family: 'Otomanopee One', sans-serif;
    font-size: 6em;
    text-align: center;
    padding: 20px;
}

.home__title-profession{
    color: rgb(91, 174, 207);
    display: block;
    font-size: 1.3rem;
}

.home__icons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.icon{
    color: hsl(0, 0%, 100%);
    margin-right: 20px;
}

.fa-github-square, .fa-linkedin, .fa-twitter-square{
    cursor: pointer;
}

.about{
    color: white;
    font-size: 1.8em;
    letter-spacing: 1px;
    height: 100vh;
    text-align: center;
    padding: 30px 20px 0px 20px;
}

.about__title, .work__title{
    color:rgb(91, 174, 207);
}

.work{
    padding-top: 50px;
}

.work__title{
    font-size:  2rem;
    padding-left: 20px;
    text-align: center;
}

.about__text{
    line-height: 1.5;
}

.cards__container{
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card{
    background-color: #fff;
    border: 1px solid rgb(31, 30, 30);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(20, 20, 20);
    cursor: pointer;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 200px;
}

.card__top{
    align-items: center;
    background-color: #1c1b21;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 100%;
}

.card__image{
    height: 350px;
    object-fit: contain;
    width: 100%;
}

.card__bottom{
    align-items: center;
    background-color: #1c1b21;
    border-radius: 0 0 15px 15px;
    bottom: 0px;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.icon__top--margin{
    margin-right: 10px;
}

.icon__bottom--margin{
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width: 768px) {
    .menu__item:hover{
        color: rgb(91, 200, 207);
    }

    .cards__container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
        margin-left: auto;
        margin-right: auto;
    }
}