* {
    box-sizing: border-box;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgb(161, 150, 150);
    cursor: pointer;
    height: 400px;
    position: relative;
    text-align: center;
    width: 200px;
}

.card__top{
    align-items: center;
    background-color: #1c1b21;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 100%;
}

.card__image{
    object-fit: contain;
    height: 350px;
    width: 100%;
}

.card__bottom{
    align-items: center;
    background-color: #1c1b21;
    border-radius: 0 0 15px 15px;
    bottom: 0px;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.icon{
    color: #bbbbbd;
}

.icon__top--margin{
    margin-right: 10px;
}

.icon__bottom--margin{
    margin-left: 15px;
    margin-right: 15px;
}